<!DOCTYPE html>
<html>
<head>
  <title>Magikme</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <ul id="dropdown1" class="dropdown-content">
    <li><a href="#!">My Profile</a></li>
    <li><a href="#!">My Goals</a></li>
    <li class="divider"></li>
    <li><a href="#!">Logout</a></li>
  </ul>

  <ul id="dropdown2" class="dropdown-content">
    <li><a href="#!">My Profile</a></li>
    <li><a href="#!">My Goals</a></li>
    <li class="divider"></li>
    <li><a href="#!">Logout</a></li>
  </ul>

<%= render partial: "shared/header" %>

  <main>

    <div class="container">
      <%= yield %>
    </div>

  </main>

<%= render partial: "shared/footer" %>

</body>

<script>
$(document).ready(function(){
$(".button-collapse").sideNav();

$(".dropdown-button").dropdown();


});
</script>

</html>
